@font-face {
    font-family: Montserrat-500;
    src: url(/assets/fonts/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: Montserrat-600;
    src: url(/assets/fonts/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: Orbitron-800;
    src: url(/assets/fonts/Orbitron-VariableFont_wght.ttf);
}

@font-face {
    font-family: Russo-400;
    src: url(/assets/fonts/RussoOne-Regular.ttf);
}