* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: Montserrat-500;
  src: url(/assets/fonts/Montserrat-VariableFont_wght.ttf);
}
@font-face {
  font-family: Montserrat-600;
  src: url(/assets/fonts/Montserrat-VariableFont_wght.ttf);
}
@font-face {
  font-family: Orbitron-800;
  src: url(/assets/fonts/Orbitron-VariableFont_wght.ttf);
}
@font-face {
  font-family: Russo-400;
  src: url(/assets/fonts/RussoOne-Regular.ttf);
}
#Header {
  background-color: #17171B;
}
#Header .container .nav-a {
  color: #fff;
}
#Header .container .navbar-brand div p {
  line-break: loose;
  color: #fff;
  font-family: Orbitron-800;
  font-style: normal;
  font-weight: 800;
  font-size: 28.4224px;
  line-height: 90%;
}
#Header .container .collapse {
  padding: 0 0 0 108px;
}
#Header .container .collapse div:nth-child(1) a {
  margin-right: 30px;
  font-family: Montserrat-500;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: #ECECEC;
}
#Header .container .collapse div:nth-child(2) .nav-a {
  font-family: Montserrat-500;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #fff;
}
#Header .container .collapse div:nth-child(2) #nav-button {
  margin-left: 35px;
  padding: 10px;
  border: 1px solid #00FB43;
  border-radius: 5px;
  font-family: Montserrat-500;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #00E637;
}
#Header .container .collapse div .nav-a {
  transition: 0.5s;
}
#Header .container .collapse div .nav-a:hover {
  color: #00E637;
}
#Header .container .navbar-toggler i {
  font-size: 30px;
  color: #fff;
}

#Content {
  background-color: #17171B;
}
#Content .container .content-div .content-text-div {
  position: relative;
  z-index: 2;
  width: 700px;
  padding: 130px 0 90px 0;
}
#Content .container .content-div .content-text-div h1 {
  font-family: Russo-400;
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;
  color: #ECECEC;
}
#Content .container .content-div .content-text-div .description {
  width: 570px;
}
#Content .container .content-div .content-text-div .description p {
  font-family: Montserrat-500;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #ECECEC;
  margin: 18px 0 32px 0;
}
#Content .container .content-div .content-text-div a:nth-child(1) {
  font-family: Montserrat-500;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 5px;
  background: #00E637;
  color: #070621;
  font-size: 16px;
  border-radius: 5px;
  width: 170px;
  height: 54px;
}
#Content .container .content-div .content-text-div a:nth-child(2) {
  font-family: Montserrat-500;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 5px;
  color: #00E637;
  font-size: 16px;
  border-radius: 5px;
  width: 170px;
  height: 54px;
  border: 0.732583px solid #00E637;
  margin-left: 31px;
}
#Content .svg-div {
  overflow: hidden;
  z-index: 0;
  position: absolute;
  top: 4.7rem;
  right: 0;
}

#Platform {
  background-color: #ECECEC;
  padding: 4rem 0;
}
#Platform .container .row .left h1 {
  font-family: Russo-400;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;
  color: #1A1A1A;
}
#Platform .container .row .left p {
  font-family: Montserrat-500;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #1A1A1A;
  margin: 28px 0 37px 0;
}
#Platform .container .row .left a {
  font-family: Montserrat-500;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 5px;
  background: #00E637;
  color: #070621;
  font-size: 16px;
  border-radius: 5px;
  width: 170px;
  height: 54px;
}
#Platform .container .row .right .row h3 {
  font-family: Montserrat-500;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #1A1A1A;
}
#Platform .container .row .right .row:nth-child(2) {
  margin-top: 55px;
  margin-bottom: 55px;
}
#Platform .container .row #adn {
  display: none;
  font-family: Montserrat-500;
  align-items: center;
  justify-content: center;
  padding: 10px 5px;
  background: #00E637;
  color: #070621;
  font-size: 16px;
  border-radius: 5px;
  width: 170px;
  height: 54px;
}

#Komy {
  background-color: #17171B;
}
#Komy .head {
  text-align: center;
  padding: 3rem 0;
  border-bottom: 1px solid #ECECEC;
}
#Komy .head h1 {
  font-family: Russo-400;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;
  color: #ECECEC;
  margin-bottom: 22px;
}
#Komy .head h3 {
  font-family: Montserrat-500;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #FFFFFF;
}
#Komy .container {
  padding-top: 3rem;
  padding-bottom: 3rem;
}
#Komy .container .row .card {
  height: 25rem;
  background-color: #23222B;
  border-radius: 10px;
}
#Komy .container .row .card h5 {
  margin-top: 25px;
  font-family: Montserrat-500;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #00E637;
}
#Komy .container .row .card p {
  margin-top: 12px;
  font-family: Montserrat-500;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #ECECEC;
}

#Kursa {
  padding: 8rem 0;
}
#Kursa .head .text-div {
  width: 1200px;
  padding: 0 0 2rem 6.5rem;
}
#Kursa .head .text-div h1 {
  font-family: Russo-400;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;
  color: #12121A;
}
#Kursa .head .text-div h3 {
  font-family: Montserrat-500;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #1A1A1A;
}
#Kursa .head .hr-div {
  width: 100%;
  padding: 11px 0 0 3rem;
}
#Kursa .head .hr-div hr {
  border: 1px solid #121219;
}
#Kursa .container .row .card-custom {
  background-color: #17171B;
  position: relative;
  padding: 0 2rem;
  height: 210px;
  border-radius: 20px;
  align-items: center;
  justify-content: space-between;
}
#Kursa .container .row .card-custom p {
  color: #ECECEC;
}
#Kursa .container .row .card-custom p span {
  color: #00E637;
}
#Kursa .container .row .card-custom .sol {
  width: 32%;
}
#Kursa .container .row .card-custom .sol #right {
  display: none;
}
#Kursa .container .row .card-custom .sol #icon {
  top: 50%;
  transform: translateY(-50%);
  left: 2rem;
  width: 90px;
  height: 90px;
}
#Kursa .container .row .card-custom .sag {
  width: 68%;
}

#ContactForm {
  background-color: #17171B;
  padding: 3rem 0;
}
#ContactForm .container .row .left h1 {
  font-family: Russo-400;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;
  color: #E6E6E6;
  margin-bottom: 20px;
}
#ContactForm .container .row .left p {
  font-family: Montserrat-500;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #FFFFFF;
}
#ContactForm .container .row .right input {
  width: 100%;
  border: none;
  margin-bottom: 27px;
  background-color: #17171B;
  border-bottom: 1px solid gray;
  padding: 10px;
}
#ContactForm .container .row .right button {
  font-family: Montserrat-500;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 5px;
  background: #00E637;
  color: #070621;
  font-size: 16px;
  border-radius: 5px;
  width: 170px;
  height: 54px;
  border: none;
}

#Teachers {
  background-color: #ECECEC;
  padding: 8.5rem 0;
  position: relative;
}
#Teachers .head .text-div {
  width: 1200px;
  padding: 0 0 2rem 6.5rem;
  position: relative;
  z-index: 10;
}
#Teachers .head .text-div h1 {
  font-family: Russo-400;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;
  color: #12121A;
}
#Teachers .head .hr-div {
  width: 100%;
  padding: 11px 0 0 3rem;
}
#Teachers .head .hr-div hr {
  border: 1px solid #121219;
}
#Teachers .container .content-div .content-text-div .card {
  border-radius: 19px;
  z-index: 1;
  overflow: visible;
  transition: 0.5s;
  height: 400px;
  position: relative;
}
#Teachers .container .content-div .content-text-div .card .card-body {
  border-radius: 17px;
  position: absolute;
  top: 0;
  left: 0;
  width: 101%;
  height: 400px;
  transition: 0.5s;
  overflow: hidden;
}
#Teachers .container .content-div .content-text-div .card .card-body .card-img {
  height: 485px;
  width: 100%;
  transition: 0.5s;
  filter: grayscale(1);
}
#Teachers .container .content-div .content-text-div .card .card-body .card-img-overlay {
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 50px 32px;
}
#Teachers .container .content-div .content-text-div .card .card-body .card-img-overlay h5 {
  font-family: Montserrat-500;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 150%;
  color: #FFFFFF;
}
#Teachers .container .content-div .content-text-div .card .card-body .card-img-overlay h3 {
  font-family: Montserrat-500;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #00E637;
  margin: 6px 0 0 0;
}
#Teachers .container .content-div .content-text-div .card .card-body .card-img-overlay p {
  transition: 0.5s;
  display: none;
  font-family: Montserrat-500;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #FFFFFF;
  margin: 6px 0 0 0;
}
#Teachers .container .content-div .content-text-div .card:hover .card-body {
  height: 450px;
}
#Teachers .container .content-div .content-text-div .card:hover .card-body .card-img {
  height: 485px;
  filter: grayscale(0);
}
#Teachers .container .content-div .content-text-div .card:hover .card-img-overlay p {
  display: block;
}
#Teachers .svg-div {
  z-index: 0;
  position: absolute;
  bottom: -0.3rem;
  right: 0;
}

#Yazika {
  background-color: #17171B;
  padding: 4rem 0;
}
#Yazika .container .row .col-lg-5:nth-child(1) {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#Yazika .container .row .col-lg-5:nth-child(1) h1 {
  font-family: Russo-400;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;
  color: #FFFFFF;
}
#Yazika .container .row .col-lg-5:nth-child(1) h1 span {
  color: #00E637;
}
#Yazika .container .row .col-lg-5:nth-child(1) h3 {
  font-family: Montserrat-500;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #FFFFFF;
}
#Yazika .container .row .col-lg-2 {
  display: flex;
  justify-content: center;
}
#Yazika .container .row .col-lg-2 div {
  height: 100%;
  width: 2px;
  background-color: gray;
}
#Yazika .container .row .col-lg-5:nth-child(3) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
#Yazika .container .row .col-lg-5:nth-child(3) h1 {
  font-family: Montserrat-600;
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 150%;
  color: #00E637;
  padding-left: 2rem;
}
#Yazika .container .row .col-lg-5:nth-child(3) button {
  font-family: Montserrat-500;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 5px;
  background: #00E637;
  color: #070621;
  font-size: 16px;
  border-radius: 5px;
  width: 170px;
  height: 54px;
  border: none;
  width: 100%;
  margin-top: 35px;
}
#Yazika .container .row .col-lg-5:nth-child(3) li {
  font-family: Montserrat-600;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 150%;
  color: #fff;
}
#Yazika .container .row .col-lg-5:nth-child(3) .bonus {
  position: absolute;
  top: -8rem;
  right: 0;
  transform: matrix(0.9, -0.44, 0.44, 0.9, 0, 0);
  background-color: #00E637;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 130px;
  -webkit-clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
          clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
}
#Yazika .container .row .col-lg-5:nth-child(3) .bonus p {
  font-family: Russo-400;
  font-style: normal;
  font-weight: 400;
  font-size: 36.6301px;
  line-height: 44px;
  color: #17171B;
}

#Trud {
  background-color: #ECECEC;
  padding: 7rem 0;
  position: relative;
  z-index: 1;
}
#Trud .head .text-div {
  width: 1000px;
  padding: 0 0 2rem 6.5rem;
}
#Trud .head .text-div h1 {
  font-family: Russo-400;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;
  color: #12121A;
}
#Trud .head .hr-div {
  width: 100%;
  padding: 11px 0 0 3rem;
}
#Trud .head .hr-div hr {
  border: 1px solid #121219;
}
#Trud .container .row .col-lg-6:nth-child(1) div p {
  font-family: Montserrat-500;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #000000;
}
#Trud .container .row .col-lg-6:nth-child(1) div li {
  font-family: Montserrat-500;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #000000;
}
#Trud .container .row .col-lg-6:nth-child(2) .img-div {
  z-index: 1;
  background-image: url(/assets/images/Rectangle_15.png);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 422px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 1rem 3rem;
}
#Trud .container .row .col-lg-6:nth-child(2) .img-div h1 {
  font-family: Montserrat-600;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 150%;
  color: #23222B;
}
#Trud .container .row .col-lg-6:nth-child(2) .img-div h3 {
  font-family: Montserrat-500;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #23222B;
}
#Trud .svg-div {
  z-index: -1;
  position: absolute;
  bottom: -0.3rem;
  right: 0;
}

#Atziv {
  background-color: #17171B;
  padding: 3rem 0;
}
#Atziv .head .text-div {
  width: 1200px;
  padding: 0 0 2rem 6.5rem;
}
#Atziv .head .text-div h1 {
  font-family: Russo-400;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;
  color: #ECECEC;
}
#Atziv .head .hr-div {
  width: 100%;
  padding: 14px 0 0 3rem;
}
#Atziv .head .hr-div hr {
  border: 1px solid #ECECEC;
}
#Atziv .container .row .card {
  background-color: #23222B;
  border-radius: 20px;
  padding: 2rem 1rem;
}
#Atziv .container .row .card .profile-div {
  margin-bottom: 1rem;
}
#Atziv .container .row .card .profile-div .profile-text-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 0 0 1.5rem;
}
#Atziv .container .row .card .profile-div .profile-text-div h1 {
  font-family: Montserrat-600;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 150%;
  color: #00FB43;
  margin: 0;
}
#Atziv .container .row .card .profile-div .profile-text-div h3 {
  font-family: Montserrat-500;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #848383;
  margin: 0;
}
#Atziv .container .row .card .description p {
  font-family: Montserrat-500;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #FFFFFF;
  margin-bottom: 1rem;
}
#Atziv .container .slider-changer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 25px 3rem 0;
}
#Atziv .container .slider-changer i {
  padding: 5px 7px;
  border: 1px solid #C4C4C4;
  border-radius: 100%;
  color: #C4C4C4;
}
#Atziv .container .slider-changer span {
  margin: 0 10px;
  font-family: Montserrat-500;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #FFFFFF;
}

#Project {
  background-color: #17171B;
  padding: 8rem 0;
}
#Project .head .text-div {
  width: 1200px;
  padding: 0 0 2rem 6.5rem;
}
#Project .head .text-div h1 {
  font-family: Russo-400;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;
  color: #FFFFFF;
}
#Project .head .text-div h3 {
  font-family: Montserrat-500;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #FFFFFF;
}
#Project .head .hr-div {
  width: 100%;
  padding: 11px 0 0 3rem;
}
#Project .head .hr-div hr {
  border: 1px solid #FFFFFF;
}
#Project .image-div {
  width: 100%;
}
#Project .image-div img {
  width: 100%;
  vertical-align: bottom;
}

#Last {
  background-color: #17171B;
  padding: 7rem 0;
}
#Last .head {
  margin-bottom: 2rem;
}
#Last .head .text-div {
  width: 1850px;
  padding: 0 0 2rem 6.5rem;
}
#Last .head .text-div h1 {
  font-family: Russo-400;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;
  color: #FFFFFF;
}
#Last .head .hr-div {
  width: 100%;
  padding: 11px 0 0 3rem;
}
#Last .head .hr-div hr {
  border: 1px solid #FFFFFF;
}
#Last .container .row .col-lg-3 {
  padding: 0 5rem;
}
#Last .container .row .col-lg-3 img {
  width: 100%;
  vertical-align: bottom;
}

#Footer {
  height: 288px;
  position: relative;
}
#Footer .container .row .nav-div .navbar-brand div p {
  line-break: loose;
  color: #17171B;
  font-family: Orbitron-800;
  font-style: normal;
  font-weight: 800;
  font-size: 28.4224px;
  line-height: 90%;
}
#Footer .container .row .nav-div .first h1 {
  font-weight: bold;
  font-family: Montserrat-600;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: #000000;
  -webkit-text-stroke: 1px black;
}
#Footer .container .row .nav-div .first p {
  font-family: Montserrat-500;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #000000;
  margin-bottom: 10px;
}
#Footer .container .row .nav-div .second p {
  font-family: Montserrat-500;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #000000;
  margin-bottom: 1rem;
}
#Footer .container .row .nav-div .second div {
  padding: 0 10rem;
}
#Footer .container .row .nav-div .third p {
  font-family: Montserrat-500;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #000000;
  margin-bottom: 10px;
}
#Footer .svg-div {
  z-index: 0;
  position: absolute;
  top: 0;
  right: 0;
}

#Footer2 {
  position: relative;
  padding: 3rem 0;
  display: none;
}
#Footer2 .container .row .nav-div:nth-child(1) a div p {
  line-break: loose;
  color: #00E637;
  font-family: Orbitron-800;
  font-style: normal;
  font-weight: 800;
  font-size: 22px;
  line-height: 90%;
}
#Footer2 .container .row .nav-div:nth-child(2) {
  padding: 0 1rem;
}
#Footer2 .container .row .nav-div:nth-child(2) h1 {
  font-size: 14px;
  line-height: 150%;
  margin: 0;
}
#Footer2 .container .row .nav-div:nth-child(2) i {
  font-size: 12px;
  margin: 0 0 0 5px;
}
#Footer2 .svg-div {
  overflow: hidden;
  height: 100%;
  z-index: 0;
  position: absolute;
  top: 0;
  right: 0;
}

@media (max-width: 768px) {
  .row {
    margin: 0;
  }
  .container {
    padding: 0;
  }
  #Content .container .container-fluid .content-text-div {
    width: 100%;
  }
  #Content .container .container-fluid .content-text-div h1 {
    width: 300px;
    font-size: 24px;
    line-height: 29px;
  }
  #Content .container .container-fluid .content-text-div .description {
    width: 100%;
  }
  #Content .container .container-fluid .content-text-div .description p {
    font-size: 14px;
    line-height: 150%;
  }
  #Content .container .container-fluid .content-text-div .d-flex {
    flex-direction: column;
  }
  #Content .container .container-fluid .content-text-div .d-flex a {
    width: 100%;
    margin: 1rem 0 0 0;
  }
  #Platform .container .row .left h1 {
    font-size: 24px;
    line-height: 29px;
    color: #1A1A1A;
  }
  #Platform .container .row .left p {
    font-size: 14px;
    line-height: 150%;
    color: #000000;
  }
  #Platform .container .row .left a {
    display: none;
    background-color: #070621;
  }
  #Platform .container .row .right .row {
    background-color: #E6E6E6;
    margin-top: 0;
    margin-bottom: 10px;
    height: 232px;
    text-align: center;
    padding: 10px;
  }
  #Platform .container .row .right .row .col-lg-4 {
    margin: 10px;
  }
  #Platform .container .row .right .row .col-lg-8 {
    margin: 10px;
  }
  #Platform .container .row .right .row .col-lg-8 h3 {
    font-size: 14px;
  }
  #Platform .container .row .right .row:nth-child(2) {
    margin-top: 26px;
    margin-bottom: 26px;
  }
  #Platform .container .row .right #adn {
    font-family: Montserrat-500;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 5px;
    background: #00E637;
    color: #070621;
    font-size: 16px;
    border-radius: 5px;
    width: 100%;
    height: 54px;
    margin-top: 26px;
  }
  #Komy {
    padding: 2rem 0 0 0;
  }
  #Komy .head {
    border: none;
    text-align: left;
    padding: 20px 0 0 24px;
  }
  #Komy .head h1 {
    font-size: 24px;
    line-height: 29px;
  }
  #Komy .head h3 {
    font-size: 14px;
    line-height: 150%;
  }
  #Komy .container .row .col-lg-4 .card {
    margin: 0 0 26px 0;
    height: 300px;
  }
  #Komy .container .row .col-lg-4 .card .card-body {
    padding: 26px 21px;
  }
  #Komy .container .row .col-lg-4 .card .card-body h5 {
    font-size: 20px;
  }
  #Komy .container .row .col-lg-4 .card .card-body p {
    font-size: 14px;
  }
  #Kursa {
    padding: 3rem 0;
  }
  #Kursa .head .text-div {
    padding: 24px;
  }
  #Kursa .head .text-div h1 {
    font-size: 24px;
    line-height: 29px;
  }
  #Kursa .head .text-div h3 {
    font-size: 14px;
    line-height: 150%;
  }
  #Kursa .head .hr-div {
    display: none;
  }
  #Kursa .container .row .col-lg-6 .card-custom {
    flex-direction: column;
    height: 222px;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 1rem;
  }
  #Kursa .container .row .col-lg-6 .card-custom .sol #left {
    display: none;
    top: 180px;
  }
  #Kursa .container .row .col-lg-6 .card-custom .sol #right {
    display: block;
    width: 100%;
  }
  #Kursa .container .row .col-lg-6 .card-custom .sol #icon {
    top: 170px;
    left: 1rem;
    width: 66px;
    height: 66px;
  }
  #Kursa .container .row .col-lg-6 .card-custom .sag {
    width: 100%;
  }
  #Kursa .container .row .col-lg-6 .card-custom .sag p {
    font-size: 15px;
  }
  #ContactForm {
    padding: 4rem 0;
  }
  #ContactForm .container .row .left {
    margin-top: 0;
  }
  #ContactForm .container .row .left h1 {
    font-size: 24px;
    line-height: 29px;
  }
  #ContactForm .container .row .left p {
    font-size: 14px;
    line-height: 150%;
  }
  #ContactForm .container .row .right button {
    width: 100%;
    margin-top: 1rem;
  }
  #Teachers {
    padding: 4rem 0;
  }
  #Teachers .head .text-div {
    padding: 0 0 0 1.5rem;
  }
  #Teachers .head .text-div h1 {
    font-size: 36px;
  }
  #Teachers .head .hr-div {
    display: none;
  }
  #Teachers .container .content-div .content-text-div .col-lg-4 .card {
    height: 260px;
  }
  #Teachers .container .content-div .content-text-div .col-lg-4 .card .card-body {
    height: 260px;
  }
  #Teachers .container .content-div .content-text-div .col-lg-4 .card .card-body .card-img {
    height: 260px;
    filter: grayscale(0);
  }
  #Teachers .container .content-div .content-text-div .col-lg-4 .card .card-body .card-img-overlay {
    padding: 20px 20px;
  }
  #Teachers .container .content-div .content-text-div .col-lg-4 .card .card-body .card-img-overlay h5 {
    font-size: 9.30074px;
    line-height: 150%;
  }
  #Teachers .container .content-div .content-text-div .col-lg-4 .card .card-body .card-img-overlay h3 {
    font-size: 6.76417px;
    line-height: 150%;
    margin-top: 0;
  }
  #Teachers .container .content-div .content-text-div .col-lg-4 .card .card-body .card-img-overlay p {
    margin-top: 6px;
    font-size: 6.76px;
  }
  #Teachers .container .content-div .content-text-div .col-lg-4 .card:hover .card-body {
    height: 260px;
  }
  #Teachers .container .content-div .content-text-div .col-lg-4 .card:hover .card-body .card-img {
    height: 260px;
    filter: grayscale(0);
  }
  #Teachers .container .content-div .content-text-div .col-lg-4 .card:hover .card-img-overlay p {
    display: none;
  }
  #Teachers .container .content-div .content-text-div .col-lg-4:nth-child(3) {
    display: none;
  }
  #Teachers .svg-div {
    overflow: hidden;
    height: 100%;
    transform: translateY(-5px);
  }
  #Yazika .container .row .col-lg-5:nth-child(1) h1 {
    font-size: 24px;
    line-height: 29px;
  }
  #Yazika .container .row .col-lg-5:nth-child(1) h1 span {
    font-size: 24px;
    line-height: 29px;
  }
  #Yazika .container .row .col-lg-5:nth-child(1) h3 {
    font-size: 14px;
    line-height: 150%;
  }
  #Yazika .container .row .col-lg-2 {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  #Yazika .container .row .col-lg-2 div {
    height: 2px;
    width: 100%;
  }
  #Yazika .container .row .col-lg-5:last-child h1 {
    padding: 0;
    font-size: 22px;
    line-height: 150%;
  }
  #Yazika .container .row .col-lg-5:last-child li {
    font-size: 14px;
    line-height: 150%;
  }
  #Yazika .container .row .col-lg-5:last-child .bonus {
    top: -18rem;
    height: 70px;
    width: 70px;
  }
  #Yazika .container .row .col-lg-5:last-child .bonus p {
    font-size: 16.5114px;
    line-height: 20px;
  }
  #Trud {
    padding: 4rem 0;
  }
  #Trud .head .text-div {
    padding: 0 0 1rem 1.5rem;
  }
  #Trud .head .text-div h1 {
    font-size: 24px;
    line-height: 29px;
  }
  #Trud .head .hr-div {
    display: none;
  }
  #Trud .container .row .col-lg-6:nth-child(1) p, #Trud .container .row .col-lg-6:nth-child(1) li {
    font-size: 14px;
    line-height: 150%;
  }
  #Trud .container .row .col-lg-6:nth-child(2) .img-div {
    padding: 0 0 1.5rem 1rem;
    height: 330px;
  }
  #Trud .container .row .col-lg-6:nth-child(2) .img-div h1 {
    font-size: 14px;
    line-height: 150%;
  }
  #Trud .container .row .col-lg-6:nth-child(2) .img-div h3 {
    font-size: 14px;
    line-height: 150%;
  }
  #Atziv {
    padding: 4rem 0;
  }
  #Atziv .head .text-div {
    padding: 0 0 1rem 1.5rem;
  }
  #Atziv .head .text-div h1 {
    font-size: 24px;
    line-height: 29px;
  }
  #Atziv .head .hr-div {
    display: none;
  }
  #Atziv .container .row .col-lg-6:nth-child(1) .card .profile-div h1, #Atziv .container .row .col-lg-6:nth-child(1) .card .profile-div h3 {
    font-size: 14px;
  }
  #Atziv .container .row .col-lg-6:nth-child(1) .card .description {
    font-size: 14px;
  }
  #Atziv .container .row .col-lg-6:nth-child(2) {
    display: none;
  }
  #Atziv .container .slider-changer {
    display: none;
  }
  #Project {
    padding: 4rem 0;
  }
  #Project .head .text-div {
    padding: 0 0 1rem 1.5rem;
  }
  #Project .head .text-div h1 {
    font-size: 24px;
    line-height: 29px;
  }
  #Project .head .hr-div {
    display: none;
  }
  #Last {
    padding: 4rem 0;
  }
  #Last .head .text-div {
    padding: 0 0 1rem 1.5rem;
  }
  #Last .head .text-div h1 {
    font-size: 24px;
    line-height: 29px;
  }
  #Last .head .hr-div {
    display: none;
  }
  #Last .container .row {
    padding: 0;
  }
  #Last .container .row .col-lg-3 {
    padding: 0 2rem;
  }
  #Last .container .row .col-lg-3:nth-child(4), #Last .container .row .col-lg-3:nth-child(8) {
    display: none;
  }
  #Footer {
    display: none;
  }
  #Footer2 {
    display: block;
  }
}
@media (min-width: 768px) {
  #Platform .container .left a {
    display: flex;
  }
  #Platform #adn {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */